.caracteristicas p{
    font-size: 14px;
    margin-bottom: 0px;
}

.caracteristicas{
    margin-bottom: 10px;
}

.descripcion h4{
    margin-bottom: 0px;
}

.descripcion p{
    margin-top: 0px;
    margin-bottom: 10px;
}

.card{
    margin-top: 10px;
}

.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }
